body {
    p, h1, h2, h3, h4, h5, h6 {
        color: white;
}

#artist {
    margin: 3rem;
    overflow: auto;
    }
    #albumCard {
        background-color: grey;
        p {
            color: grey;
        }
        h5 {
            font-size: 16px;
        }
    }
}