#artist {
    margin: 3rem;
    overflow: auto;
    h1, h2, h3, h4, h5, h6, a, p{
        color: white;
    }
    #albumCard {
        background-color: grey;
    }
    div .card-body p {
        color: grey;
    }

    div .card-body {
        background-color: rgba(0, 0, 0, 0.361);
    }
}



.album-cover {
    width: 100%;  
    height: auto; 
    object-fit: cover; 
}