#footerMobile {
    display: none;
}

@media screen and (max-width: 820px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        color: white;
        margin-top: 1rem;
    }

    h3 {
        font-size: 12px;
    }

    #footerMobile {
        display: block;
        background-color: black;
        position: sticky;
        bottom: 0;
        left: 0;
        width: 120%;
        z-index: 10000000000;
        padding-left: 5rem;
    }

    .ResponsiveMobile {
        display: none;
    }

    #homepage,
    #albumplaylist,
    #album,
    #artist {
        padding: 0;
        padding-right: 2rem;
        margin: 3rem;
        width: 100vw;
        height: auto;
    }

    .wrapper {
        padding: 0;
        min-height: 100vh;
    }

    .card {
        width: auto;
        height: auto;

        p {
            font-size: 16px;
        }

        h4 {
            font-size: 16px;
        }

        overflow: hidden;
    }

   
}

@media screen and (max-width: 587px) {
    #homepage col {
        height: 2vh;
    }
    #homepage {
        margin-left: 3rem;
        width: 110vw;
    }
}

