/* HEADER */
#header {
    
    margin-left: 246px;
    z-index: 2;
    max-width: 833px;
    background-color: #000000;
}

#header ul,
#header li {
    list-style-type: none;
    z-index: 1000000005;
}



#profileBg {
    border-radius: 20px;
    height: 2.4em;
    padding: 0.4em;
}

/*basta*/
#hero {
   
    
}



#playlistWrapper {
    background: rgba(18, 18, 18, 1);
}

.icon:hover {
    color: white;
}
.icon {
    color: rgb(197, 197, 197);
}
#albumplaylist h3 {
    font-size: 16px;
}
#playlist h3 {
    font-size: 16px;
}
#playlist p {
    font-size: 16px;
}