/* HEADER */
#header {
	margin-left: 200px;
	margin-right: 200px;
	z-index: 1000;
	background-color: #000000;
}

#header ul,
#header li {
	list-style-type: none;
	z-index: 1001;
}

#homepage,
#albumplaylist,
#search {
	margin-left: 15px;
	margin-top: 30px;
}

#profileBg {
	border-radius: 20px;
	height: 2.4em;
	padding: 0.4em;
}

/*playlist*/
#hero {
	background: rgb(40, 159, 15);
	background: linear-gradient(
		180deg,
		rgba(39, 159, 15, 0.4) 0%,
		rgba(18, 18, 18, 1) 90%
	);
}

#albumplaylist {
	padding: 0px;
	padding-left: 180px;
}

#playlistWrapper {
	background: rgba(18, 18, 18, 1);
}

.icon {
	color: rgb(197, 197, 197);
}

.iconPlayer {
	color: #198754;
}

.icon:hover {
	color: white;
}

.iconPlayer:hover {
	color: #169e5f;
}

#albumplaylist h3 {
	font-size: 16px;
}

#playlist h3 {
	font-size: 16px;
}
#playlist p {
	font-size: 16px;
}

@media screen and (max-width: 820px) {
	#albumplaylist {
		padding-left: 0px;
		padding-right: 0px;
	}
}

/*album*/
