#hero {
	background: rgb(40, 159, 15);
	background: linear-gradient(
		180deg,
		rgba(39, 159, 15, 0.4) 0%,
		rgba(18, 18, 18, 1) 90%
	);
}

#albumplaylist {
	padding-left: 180px;
}

#playlistWrapper {
	background: rgba(18, 18, 18, 1);
}

.icon:hover {
	color: white;
}
